@model DetailViewModel
@{
    ViewData["Title"] = "Index";
    var product = Model.Product;
    var imageCounter = 1;
}


<main>
    <!-- Home Page -->
    <section id="main-home-page">
        <div class="contentWrap">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="breadcrumb-nav">
                        <li class="nav-item"><a asp-action="index" asp-controller="home">Kompüter mağazası "iComp"</a></li>
                        <li class="nav-item"><span class="breadcrumb-arrow">></span><a asp-action="index" asp-controller="catalog" asp-route-categoryid="@product.Category.Id">@product.Category?.Name</a></li>
                        <li class="nav-item">
                            <span class="breadcrumb-arrow">></span><a href="#">
                                @product.Name
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <!-- aside start -->
                    <div class="col-lg-3">

                        <!-- Popular Brends -->
                        <div class="blog-tags">
                            <div class="tags-desc">
                                <h3>Bakıda tanınmış brendlər</h3>
                            </div>
                            <div class="line">
                                <a href="">Apple</a>
                                <a href="">Asus</a>
                                <a href="">Lenovo</a>
                                <a href="">Microsoft</a>
                                <a href="">HP</a>
                                <a href="">Sony</a>
                                <a href="">SteelSeries</a>
                                <a href="">Acer</a>
                                <a href="">Gigabyte</a>
                                <a href="">Dell</a>
                                <a href="">MSI</a>
                                <a href="">Rampage</a>
                                <a href="">Intel</a>
                            </div>
                        </div>
                    </div>
                    <!-- aside end -->

                    <div class="col-lg-9">
                        <div class="content-heading">
                            <h2>
                                @product.Name
                            </h2>
                        </div>
                        <!-- Detail start -->
                        <div class="product-detail">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="product-image-box">

                                        <div class="product-detail-image">
                                            <div class="gallery">
                                                <a href="~/uploads/products/@product.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" class="big" rel="rel1">
                                                    <img src="~/uploads/products/@product.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="" title="Image @imageCounter">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-image-nav">
                                            <div class="gallery">

                                                <ul>
                                                    @foreach (var item in product.ProductImages.Where(x => x.PosterStatus == null))
                                                    {
                                                        imageCounter++;
                                                        <li>
                                                            <a href="~/uploads/products/@item?.Image" class="big" rel="rel1">
                                                                <img src="~/uploads/products/@item?.Image" alt="" title="Image @imageCounter">
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="product-detail-box">
                                        <div class="product-detail-desc">
                                            @(product.Processor?.ProcessorSerie?.Name == null ? "" : product.Processor?.ProcessorSerie?.Name + "|")  @(product.ProdMemory?.MemoryCapacity?.Capacity == null ? "" : product.ProdMemory?.MemoryCapacity?.Capacity + "|") @(product.ProdMemory?.DDRType == null ? "" : product.ProdMemory?.DDRType + "|") @(product.SSD?.SSDCapacity?.Capacity == null? "" : product.SSD?.SSDCapacity?.Capacity + "SSD |")  @(product.HardDisc?.HDDCapacity?.Capacity == null? "" : product.HardDisc?.HDDCapacity?.Capacity + "HDD |")  @(product.Processor?.ModelName == null ? "" : product.Processor?.ModelName + "|")
                                            @(product.VideoCard?.CoreSpeed == null ? "" : product.VideoCard?.CoreSpeed + "|") @(product.VideoCard?.MemoryCapacity==null? "" : product.VideoCard?.MemoryCapacity + "|") @(product.VideoCard?.VideoCardSerie?.Name==null? "" : product.VideoCard?.VideoCardSerie?.Name + " series |")
                                        </div>
                                        <div class="product-detail-price">
                                            <p><span>@product.SalePrice</span>azn</p>
                                        </div>
                                        <div class="product-detail-features">
                                            <div class="prod-detail">
                                                <div class="detail-info">
                                                    <div class="detail-name">
                                                        <p>Stokda</p>
                                                    </div>
                                                    <div class="detail-value">
                                                        <p class="@(product.IsAvailable == true ? "text-success" : "text-danger")">@(product.IsAvailable == true ? "Var" : "Yox")</p>
                                                    </div>
                                                </div>
                                                <div class="detail-info">
                                                    <div class="detail-name">
                                                        <p>Tip</p>
                                                    </div>
                                                    <div class="detail-value">
                                                        <p>@product.ProdType.Name</p>
                                                    </div>
                                                </div>
                                                <div class="detail-info">
                                                    <div class="detail-name">
                                                        <p>Brand</p>
                                                    </div>
                                                    <div class="detail-value">
                                                        <p>@product.Brand.Name</p>
                                                    </div>
                                                </div>
                                                <div class="detail-info">
                                                    <div class="detail-name">
                                                        <p>Rəng</p>
                                                    </div>
                                                    <div class="detail-value">
                                                        <p>@product.Color.Name</p>
                                                    </div>
                                                </div>
                                                <div class="detail-info">
                                                    <div class="detail-name">
                                                        <p>Təyinat</p>
                                                    </div>
                                                    <div class="detail-value">
                                                        <p>@product.Destination.Name</p>
                                                    </div>
                                                </div>
                                                @if (@product.MotherBoard != null)
                                                {
                                                    <div class="detail-info">
                                                        <div class="detail-name">
                                                            <p>
                                                                Ana plata
                                                            </p>
                                                        </div>
                                                        <div class="detail-value">
                                                            <p>@product.MotherBoard.ModelName</p>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-checkout">
                                            <a asp-action="addbasket" asp-controller="catalog" asp-route-id="@product.Id" class="btn btn-primary add-to-basket">Səbətə</a>
                                            <a asp-action="checkout" asp-controller="order" asp-route-id="@product.Id" class="btn btn-danger fast-order">Tez Sifariş</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="tab-content">
                                        <ul class="prodNav">
                                            <li id="pTab1" class="ptItem active">
                                                TƏSVİR @product.Name
                                            </li>
                                            <li id="pTab2" class="ptItem ">Reviews</li>
                                        </ul>
                                        <div class="prodBody">
                                            <div class="prodMain active" id="pTab1C">
                                                <p class="mg-b">
                                                    @product.Name modelini Azərbaycanda ən ucuz qiymətə
                                                    iComp internet mağazasından əldə edin. Bizim mağazada yalnız
                                                    dünyanın aparıcı istehsalçılarının rəsmi zəmanətli məhsullarının
                                                    satışı həyata keçirilir. Mağazamızda həm nəğd, həm də kreditlə
                                                    satış mümkündür.

                                                </p>
                                                <p class="mg-b">
                                                    Əgər lazımi məbləğ yoxdursa, kreditin həcmi və müddəti ilə bağlı
                                                    menecerlərimizlə əlaqə saxlaya bilərsiniz.

                                                </p>
                                                <p class="mg-b">
                                                    Siz @product.Name modelini Bakıda yerləşən
                                                    mağazamızdan götürə və ya ünvana çatdırılma sifariş edə
                                                    bilərsiniz.

                                                </p>
                                                <p class="mg-b">
                                                    @product.Name kreditlə hissə-hissə ödəmə ilə
                                                    dükanımızdan almaq imkanına maliksiniz.

                                                </p>
                                                <p class="mg-b">
                                                    Banka gedmədən sərfəli şərtlərlə yerindəcə kreditlə iComp.az dan
                                                    almaq olar.

                                                </p>

                                                <div class="prod-option">
                                                    <div class="option-head">
                                                        <h5>
                                                            Ümumi məlumat
                                                        </h5>
                                                    </div>
                                                    <div class="option-info">
                                                        <div class="option-name">
                                                            <p>Tip</p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>@product.ProdType.Name</p>
                                                        </div>
                                                    </div>
                                                    <div class="option-info">
                                                        <div class="option-name">
                                                            <p>Brand</p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>@product.Brand.Name</p>
                                                        </div>
                                                    </div>
                                                    <div class="option-info">
                                                        <div class="option-name">
                                                            <p>Model</p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>
                                                                @product.Name
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="option-info">
                                                        <div class="option-name">
                                                            <p>Rəng</p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>@product.Color.Name</p>
                                                        </div>
                                                    </div>
                                                    <div class="option-head">
                                                        <h5>
                                                            Proqram
                                                        </h5>
                                                    </div>
                                                    <div class="option-info">
                                                        @if (product.Software != null)
                                                        {
                                                            <div class="option-name">
                                                                <p>
                                                                    Proqram təminatı
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.Software.Name
                                                                </p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="option-name">
                                                                <p>
                                                                    Yoxdur
                                                                </p>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="option-head">
                                                        <h5>
                                                            Texniki göstəricilər
                                                        </h5>
                                                    </div>
                                                    @if (@product.Processor != null)
                                                    {
                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    Prosessor
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.Processor?.ModelName
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    Prosessor sürəti
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.Processor.Speed
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (product.ProdMemory != null)
                                                    {

                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    Operativ yaddaş (RAM)
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.ProdMemory?.MemoryCapacity.Capacity
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    Operativ yaddaşın sürəti
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.ProdMemory?.DDRType @product.ProdMemory?.MemoryCapacity.Capacity @product.ProdMemory?.Speed
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }

                                                    @if (product.VideoCard != null)
                                                    {
                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    Qrafik kart
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.VideoCard.ModelName
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (@product.SoundType != null)
                                                    {
                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    Səs

                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.SoundType
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div class="option-head">
                                                        <h5>
                                                            Yaddaş həcmi
                                                        </h5>
                                                    </div>
                                                    @if (product.SSD != null || product.HardDisc != null)
                                                    {
                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    SSD
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.SSD?.SSDCapacity.Capacity
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    HDD
                                                                </p>
                                                            </div>
                                                            <div class="option-value">
                                                                <p>
                                                                    @product.HardDisc?.HDDCapacity.Capacity
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="option-info">
                                                            <div class="option-name">
                                                                <p>
                                                                    yoxdur
                                                                </p>
                                                            </div>
                                                        </div>
                                                    }

                                                    <div class="option-head">
                                                        <h5>
                                                            Şəbəkə
                                                        </h5>
                                                    </div>
                                                    <div class="option-info">
                                                        <div class="option-name">
                                                            <p>
                                                                Şəbəkə
                                                            </p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>
                                                                @(product.Network == null ? "Yoxdur" : product.Network)
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="option-info">

                                                        <div class="option-name">
                                                            <p>
                                                                Simsiz əlaqə
                                                            </p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>
                                                                @(product.HasWifi == true ? "✔" : "-")
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="option-head">
                                                        <h5>
                                                            Əlavə
                                                        </h5>
                                                    </div>
                                                    <div class="option-info">
                                                        <div class="option-name">
                                                            <p>
                                                                Güc
                                                            </p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>
                                                                @(product.PowerSupply == null ? "Yoxdur" : @product.PowerSupply)
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="option-info">
                                                        <div class="option-name">
                                                            <p>
                                                                Zəmanət müddəti
                                                            </p>
                                                        </div>
                                                        <div class="option-value">
                                                            <p>
                                                                @product.WarrantyPeriod
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="prodMain " id="pTab2C">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="comment-form">
                                                            @Html.Partial("_CommentFormPartial",@Model.Comment)
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="comment-block">
                                                            <h1>Müzakirə</h1>
                                                            @if (product.ProductComments.Count != 0)
                                                            {
                                                                @Html.Partial("_CommentPartial",product.ProductComments)
                                                            }
                                                            else
                                                            {
                                                                <div class="noComments">bu element üçün ismarıc yoxdur</div>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Detail end -->
                        @if (Model.CheckedProducts != null)
                        {

                            <div class="content-heading">
                                <h2>Ən son baxdıqlarınız</h2>
                            </div>

                            <div class="new-products-inner">
                                <div class="row">
                                    @foreach (var item in Model.CheckedProducts)
                                    {
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="new-products__item">
                                                <div class="new-products__item-card">
                                                    <div class="item__card-header">
                                                        <div class="product-photo">
                                                            <img src="~/uploads/products/@item.Product.ProductImages.FirstOrDefault(x => x.PosterStatus == true)?.Image" alt="">
                                                        </div>
                                                        <div class="product-title">
                                                            <a asp-action="index" asp-controller="detail" asp-route-id="@item.Id">@item.Product.Name</a>
                                                        </div>
                                                    </div>
                                                    <div class="item__card-body">
                                                        <div class="product-desc">
                                                            <p>
                                                                @(item.Product.Processor?.ProcessorSerie?.Name == null ? "" : item.Product.Processor?.ProcessorSerie?.Name + "|")  @(item.Product.ProdMemory?.MemoryCapacity?.Capacity == null ? "" : item.Product.ProdMemory?.MemoryCapacity?.Capacity + "|") @(item.Product.ProdMemory?.DDRType == null ? "" : item.Product.ProdMemory?.DDRType + "|") @(item.Product.SSD?.SSDCapacity?.Capacity == null? "" : item.Product.SSD?.SSDCapacity?.Capacity + "SSD |")  @(item.Product.HardDisc?.HDDCapacity?.Capacity == null? "" : item.Product.HardDisc?.HDDCapacity?.Capacity + "HDD |")  @(item.Product.Processor?.ModelName == null ? "" : item.Product.Processor?.ModelName + "|")
                                                                @(item.Product.VideoCard?.CoreSpeed == null ? "" : item.Product.VideoCard?.CoreSpeed + "|") @(item.Product.VideoCard?.MemoryCapacity==null? "" : item.Product.VideoCard?.MemoryCapacity + "|") @(item.Product.VideoCard?.VideoCardSerie?.Name==null? "" : item.Product.VideoCard?.VideoCardSerie?.Name + " series |")
                                                            </p>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>@item.Product.SalePrice <sup>azn</sup></span>
                                                        </div>
                                                        <div class="product-checkout">
                                                            <a asp-action="addbasket" asp-controller="catalog" asp-route-id="@item.Id" class="btn btn-primary add-to-basket">Səbətə</a>
                                                            <a asp-action="order" asp-controller="checkout" asp-route-id="@item.Id" class="btn btn-danger fast-order">Tez Sifariş</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }



                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="services">
        <div class="contentWrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services-box">
                            <div class="services__icon">
                                <img src="~/assets/img/Services/s1.png" alt="">
                            </div>
                            <div class="services__title">
                                <h6>Sürətli çatdırılma</h6>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services-box">
                            <div class="services__icon">
                                <img src="~/assets/img/Services/s2.png" alt="">
                            </div>
                            <div class="services__title">
                                <h6>RƏSMİ ZƏMANƏT</h6>
                            </div>
                            <div class="line"></div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services-box">
                            <div class="services__icon">
                                <img src="~/assets/img/Services/s3.png" alt="">
                            </div>
                            <div class="services__title">
                                <h6>KREDİTLƏ SATIŞ</h6>
                            </div>
                            <div class="line"></div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="services-box">
                            <div class="services__icon">
                                <img src="~/assets/img/Services/s4.png" alt="">
                            </div>
                            <div class="services__title">
                                <h6>YÜKSƏK KEYFİYYƏT</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


